<p class="byline"><span>A new kind of grade management system</span></p>
<h1 class="title"><a href="#">About TurnOut Web</a></h1>
<div class="entry">
	<p>TurnOut Web is an online grade management system that allows professors and staff to record grades and allow students to track their progress from anywhere with internet access. This provides students witn an view of their grade at any point and can help eliminate confusion over students' statuses in a course.</p>
</div>

<h1 class="title"><a href="#">How it Works</a></h1>
<div class="entry">
	<p>As a course progresses, course staff can login to set grades for students or view students' submitted work. Students can login to check grades and post assignments for grading.</p>
</div>